### pet data for final project

In [3]:
# source: https://naphia.org/industry-data/section-2-total-pets-insured/
import pandas as pd

In [4]:
year = [2018,2019,2020,2021]
total_insured_pets = [2156448, 2517122, 3101956, 3979282]

In [12]:
pet_insurance_counts = pd.DataFrame(list(zip(year, total_insured_pets)),
               columns =['year', 'total pets'])

In [13]:
pet_insurance_counts

   year  total pets
0  2018     2156448
1  2019     2517122
2  2020     3101956
3  2021     3979282

In [27]:
increase = pet_insurance_counts['total pets'].loc[3] - pet_insurance_counts['total pets'].loc[0]
increase

1822834

In [28]:
percent_increase = increase / pet_insurance_counts['total pets'].loc[0] * 100
percent_increase

84.52946697532239

In [37]:
print(f"Percent Increase in US Insured Pets from 2018 to 2021: {percent_increase:.2f}%")

Percent Increase in US Insured Pets from 2018 to 2021: 84.53%