In [1]:
## sac adoption data clean
import pandas as pd

df = pd.read_csv("Resources/sac_2019_2021.csv")

In [2]:
df.columns

Index(['State', 'Year', 'Intake - Relinquished By Owner Total-Feline',
       'Intake - Stray At Large Total-Feline',
       'Intake - Transferred In Total-Feline',
       'Intake - Owner Intended Euthanasia Total-Feline',
       'Intakes - Other Intakes Total-Feline',
       'Live Outcome - Adoption Total-Feline',
       'Live Outcome - Returned To Owner Total-Feline',
       'Live Outcome - Returned To Field Total-Feline',
       'Live Outcome - Transferred Out Total-Feline',
       'Live outcome - Other Live Outcome Total-Feline',
       'Other Outcome - Died In Care Total-Feline',
       'Other Outcome - Lost In Care Total-Feline',
       'Other Outcome - Owner Intended Euthanasia Total-Feline',
       'Other Outcome - Shelter Euthanasia Total-Feline',
       'Intake - Relinquished By Owner Total-Canine',
       'Intake - Stray At Large Total-Canine',
       'Intake - Transferred In Total-Canine',
       'Intake - Owner Intended Euthanasia Total-Canine',
       'Intakes - Other Intakes Total-Canine',
       'Live Outcome - Adoption Total-Canine',
       'Live Outcome - Returned To Owner Total-Canine',
       'Live Outcome - Returned To Field Total-Canine',
       'Live Outcome - Transferred Out Total-Canine',
       'Live outcome - Other Live Outcome Total-Canine',
       'Other Outcome - Died In Care Total-Canine',
       'Other Outcome - Lost In Care Total-Canine',
       'Other Outcome - Owner Intended Euthanasia Total-Canine',
       'Other Outcome - Shelter Euthanasia Total-Canine'],
      dtype='object')

In [9]:
adoptions_df= df[['Year','Live Outcome - Adoption Total-Feline','Live Outcome - Adoption Total-Canine']]
adoptions_df.head()

,Year,Live Outcome - Adoption Total-Feline,Live Outcome - Adoption Total-Canine
0,2019,"1,689",0
1,2020,"1,755",0
2,2021,"1,886",0
3,2019,"7,582","9,484"
4,2020,"6,816","7,480"

In [10]:
adoptions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 3 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Year                                  159 non-null    int64
 1   Live Outcome - Adoption Total-Feline  159 non-null    object
 2   Live Outcome - Adoption Total-Canine  159 non-null    object
dtypes: int64(1), object(2)
memory usage: 3.9+ KB

In [11]:
adoptions_df = adoptions_df.replace(',', '', regex=True).astype(int)

In [12]:
df2 = adoptions_df.groupby('Year').sum()

In [13]:
df2

,Live Outcome - Adoption Total-Feline,Live Outcome - Adoption Total-Canine
Year,,
2019,732046,649549
2020,651066,509080
2021,684144,511446

In [14]:
df2['Total Adoptions'] = df2['Live Outcome - Adoption Total-Feline'] + df2['Live Outcome - Adoption Total-Canine']
df2

,Live Outcome - Adoption Total-Feline,Live Outcome - Adoption Total-Canine,Total Adoptions
Year,,,
2019,732046,649549,1381595
2020,651066,509080,1160146
2021,684144,511446,1195590

In [16]:
df2.to_csv("Resources/adoptions.csv")